/* *{
    border: solid red 1px;
} */

.container{
    width: 80vw;
    display: flex;
    align-items: flex-end;  
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    font-family: 'Lato', sans-serif;
}

img {
    height: 250px;
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
}


.nav-btns:hover {
    text-decoration: underline #CE5DB7;
    text-decoration-thickness: 3px;
}


a {
    color: white;
    text-decoration: none;
    padding: 50px;
}

body {
    background-color: #0F0609;
}


#navBar {
    color: white;
    font-family: 'Lato', sans-serif;
    display: flex;
    width: 75px;
    margin-left: auto;
    margin-right: 0%;
}

.caseStudyGrid {
    margin: 0px 5%;
    display: grid;
    min-height: 500px;
    height: 70vh;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "one two";
    margin-bottom: -50px;
}

.one {
    background-color: #CE5DB7;
    grid-area: one;
    height: 350px;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    overflow: auto;
    align-content: center;
}
.CaseOne{
    position: relative;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: black;
    cursor: pointer;
}

.CaseOneImage{
    width: 100%;
    height: 100%;   
    object-fit: cover; 
    position: relative;
    /*margin: ;*/
    opacity: 0;
}

.one:hover .CaseOneImage {
    opacity: 1;
    transition:  all 500ms;
}

.CaseTwo{
    position: relative;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: black;
    cursor: pointer;
}

.two {
    background-color: #32BEB4;
    grid-area: two;
    height: 350px;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}


#About {
    color: white;
    font-family: "Lato", sans-serif;
    justify-content: center;
    display: flex;
    padding: 20px;
    
}

#Adjectives {
    color: white;
    opacity: 50%;
    font-family: "Lato", sans-serif;
    justify-content: center;
    display: flex;
    padding: 20px;
    font-size: 15px;
    margin-bottom: 100px;
}

#actionWord{
    color: white;
    font-family: "Lato", sans-serif;
    justify-content: center;
    display: flex;
    padding: 10px;
    font-size: 15px;
}

.footer{
    justify-content: center;
    display: flex;
    font-family: "Lato", sans-serif;
    font-size: 15px;
}